// Hero
.hero {
  position: relative;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  background: #386167;
  .hero-text {
    position: relative;
    padding: calc-em(165px) 0 calc-em(110px);
    z-index: 3;
    @media (min-width: $bp-medium) {
      padding: calc-em(275px) 0 calc-em(175px);
    }
    &.pad-sm {
	  padding: calc-em(160px) 0 calc-em(40px);
	  @media (min-width: $bp-medium) {
        padding: calc-em(180px) 0 calc-em(40px);
      }
    }
    .bob {
      margin: 0 auto;
      width: auto;
      max-width: 250px;
      box-shadow: 0px 0px 57px rgba(255, 255, 255, 0.28);
      border: 11px solid #34595f;
      @media (min-width: $bp-medium) {
        max-width: 375px;
      }
    }

  }
  .hero-title {
	margin-bottom: 0;
  }
  .hero-tagline {
	padding-top: calc-em(25px);
  line-height: 1.3em;
	@media (min-width: $bp-medium) {
	  font-size: calc-em(20px);
    }
  }
}
.btn-scroll {
  position: absolute;
  z-index: 3;
}

// Hero, full-height
.hero.is-full-height {
  height: 100vh;
  .hero-text {
    position: absolute;
    width: 100%;
  	top: 50%;
  	left: 50%;
  	padding: 0;
  	text-align: center;
  	color: $color-white;
    z-index: 3;
    transform: translate(-50%, -50%);
  }
}

// button
.btn {
  position: relative;
	background-color: $color-primary;
	border: calc-em(2px) solid $color-primary;
	border-radius: calc-em(3px);
	color: $color-white;
	display: inline-block;
	font-size: calc-em(16px);
	font-weight: normal;
	line-height: 1.3;
  margin-top: calc-em(30px);
	margin-right: calc-em(5px);
	margin-bottom: calc-em(5px);
	padding: calc-em(15px) calc-em(35px);
	transition: 0.25s all ease-out;

	&:hover,
	a &:hover,
	&:focus,
	a &:focus,
	&:active,
	a &:active,
	&.active {
		background-color: darken( $color-primary, 15% );
		border-color: darken( $color-primary, 15% );
    box-shadow: 0 0 30px white;
		color: $color-white;
		text-decoration: none;
	}
}
svg:not(:root) {
  overflow: visible;
}
.svg {
  width: 1em;
  height: 1em;
  font-size: 80px;
  position: absolute;
  top: 40%;
  left: 48%;
  z-index: 1001;
  opacity: 0;
  .bacon {
    fill: currentColor;
    color: #a52323;
  }
}

@keyframes shake {
  from, to {
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    transform: translate3d(-3px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    transform: translate3d(3px, 0, 0);
  }
}
.shake {
  animation: shake 1.5s linear;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 250px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}
.fadeInUp {
  animation: fadeInUp 0.5s linear;
}
